.infoSection{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img{
    height: 50%;
    width: 20%;
    display: flex;
    margin-left: 50px;
}

.addnbuy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
}