.userCard{
    box-sizing: border-box;   
    box-shadow: 0px 3px 2px rgb(170, 167, 167);
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.userimgdiv{
    /* text-align: left;
    margin-left:150px ;
    margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.userimg{
    height: 150px;
    width: 150px;
}
.userinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}